@charset 'utf-8';

@use '../CSS/index' as *;

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Castoro Titling', cursive;
}

table {
  margin: 50px auto 20px;
  text-align: center;
  border-collapse: collapse;
  width: 80%;
  height: 700px;
  @include mq(xl) {
    height: 800px;
  }

  & thead  {
    background-color: #ddd;
    height: 20%;
    font-size: 1.5em;
    padding: 10px 0 10px;
    & > tr > td:first-child {
      color: red;
    }
    & > tr > td:last-child {
      color: blue;
    }
  }
    & th , tr >td {
      padding: 10px;
      @include mq(ls) {
        font-size: 1.2em;
      }
    }
  & tbody {
    & > tr > td {
      &.today {
        background-color: #D0F0D0 ;
      }
      &.disabled {
        opacity: .4;
      }
      &.holiday {
        color: red;
      }
    }
    & tr > td:first-child {
      color: red;
    }
    & tr > td:last-child {
      color: blue;
    }
  }

  & tfoot {
    font-weight: bold;
    background-color: #ddd;
    height: 15%;
    font-size: 1.5em;
  }
  
}

